In [59]:
import requests
import json
import pandas as pd
from functools import reduce

In [13]:
#https://taxonomy.nucc.org/?searchTerm=175T00000X&searchButton=search
#Individuals certified to perform peer support services through a training process defined by a government agency, such as the Department of Veterans Affairs or a state mental health department/certification/licensing authority.
taxonomy = '175T00000X'
api_link = 'https://npiregistry.cms.hhs.gov/api/?version=2.1'
taxonomy_text = "Peer Specialist"

In [17]:
skip = 0
finish = 0
data = []

payload = {}
headers = {}

while finish == 0:
    url = f"{api_link}&taxonomy_description={taxonomy_text}&state=CO&limit=200&skip={skip}"

    response = requests.request("GET", url, headers=headers, data=payload)

    response_get = json.loads(response.text)

    data.append(response_get)

    if response_get['result_count'] < 200:
        finish =1
    else:
        skip += 200

In [78]:
flatted_data = []
for i in data:
    for j in i['results']:
        flatted_data.append(j)

df = pd.DataFrame.from_records([x for x in flatted_data])

In [79]:
df.head()

,created_epoch,enumeration_type,last_updated_epoch,number,addresses,practiceLocations,basic,taxonomies,identifiers,endpoints,other_names
0,1457632282000,NPI-1,1457632282000,1578924155,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'first_name': 'AARON', 'last_name': 'ABBOTT',...","[{'code': '175T00000X', 'taxonomy_group': '', ...",[],[],[]
1,1678218037000,NPI-1,1678218037000,1982304085,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'first_name': 'ASIM', 'last_name': 'ABDULLAH'...","[{'code': '175T00000X', 'taxonomy_group': '', ...",[],[],[]
2,1444255358000,NPI-1,1444255358000,1447621131,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'first_name': 'EDNA', 'last_name': 'ABRAHAM G...","[{'code': '175T00000X', 'taxonomy_group': '', ...",[],[],[]
3,1675682409000,NPI-1,1675682409000,1508562190,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'first_name': 'SCOTT', 'last_name': 'ABRAMS',...","[{'code': '175T00000X', 'taxonomy_group': '', ...",[],[],[]
4,1549898115000,NPI-1,1549898115000,1679038095,"[{'country_code': 'US', 'country_name': 'Unite...",[],"{'first_name': 'SOPHIA', 'last_name': 'ABRAMS'...","[{'code': '175T00000X', 'taxonomy_group': '', ...",[],[],"[{'type': 'Other Name', 'code': '5', 'first_na..."

In [80]:
df.to_csv('npi_data.csv')